<div *ngIf="detailsRetrieved">
  <div class="profile">
    <img
      src="{{ contact.picture.large }}"
      class="profile-photo"
      alt="contact profile picture"
      height="150"
      width="150"
    />
    <h1>{{ contact.name.first }} {{ contact.name.last }}</h1>
  </div>
  <div class="display-options">
    <div
      [ngClass]="{
        selected: showAddress
      }"
    >
      <img src="../assets/icons8-location-50.png" class="address-icon" />
      <span (click)="addressClicked()">Address</span>
    </div>
    <div
      [ngClass]="{
        selected: showContactInfo
      }"
    >
      <img src="../assets/icons8-call-50.png" class="contact-icon" />
      <span (click)="contactClicked()">Contact</span>
    </div>
  </div>
  <div class="details">
    <div *ngIf="showAddress">
      <p [innerHTML]="getFullAddress()"></p>
    </div>
    <div *ngIf="showContactInfo">
      <p [innerHTML]="getContactInfo()"></p>
    </div>
  </div>
</div>
